.aboutContainer {
  @apply container mx-auto pt-12 pb-[100px] md:pt-20 lg:pt-[100px];
}

.title {
  @apply text-xl font-semibold md:text-[32px] md:font-bold leading-[48px];
}

.topWrapper {
  @apply flex flex-col md:gap-11 lg:gap-[158px] md:flex-row items-center;
}

.aboutImage {
  @apply my-9 md:my-20 md:mb-16 w-[290px] lg:w-[412px];
}

.descriptionText {
  @apply mb-16 pt-6 text-sm md:mb-11 md:text-xl md:leading-[30px] text-grey font-normal;
}

.description {
  position: relative;
  @apply max-w-full md:max-w-[380px] lg:max-w-[415px];
}

.description::before {
  position: absolute;
  content: "";
  background-color: #7E3AF2;
  width: 25px;
  height: 3px;
}

.bottomWrapper {
  @apply flex flex-col gap-12 md:gap-20 lg:gap-[217px] lg:flex-row;
}